/* COLOR AND VARIABLES */

:root {
  --offWhite: #fceade;
  --silver: #bfc0c0;
  --charcoal: #343434;
  --darkGreen: #45b69c;
  --emerald: #21d19f;
  --seaGreen: #94d1be;
  --yellowGreen: #98ce00;
  --lightGreen: #7cdf64;
  --darkYellow: #FEC601;
  --mustard: #fcd757;
  --lightYellow: #eefc57;
  --darkOrange: #fc7a57;
  --royalBlue: #0a2463;
  --turquoise: #16e0bd;
  --lightBlue: #0496FF;
  --indigo: #083d77;
  --lightPink: #FCD3DE;
  --mediumPink: #FF7B9C;
  --electricPink: #ff36ab;
  --flameOrange: #e53d00;
  --scarlet: #ff2e00;
  --fireRed: #ff1b1c;
  --ruby: #D81159;
  --darkRed: hsl(360, 91%, 36%);
}

/* UNIVERSAL STYLES */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    min-height: 100vh;
}

.root {
  min-height: 100vh;
}

.root-container {
  min-height: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column  ;
}

.wrap {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  height: 150px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* HEADER STYLES */

header {
  height: 125px;
  width: 100%;
  background-color: var(--royalBlue);
}

header h1 {
  margin-left: 45px;
  font-size: 50px;
  color: var(--mustard);
}

nav {
  width: 40%;
}

.nav-link {
  font-size: 33px;
  font-weight: 600;
  color: var(--mustard);
}

.nav-link:hover {
  color: var(--turquoise);
}

/* HOMEPAGE STYLES */

.home-body {
  background-image: url('../assets/images/home-background.jpg');
  background-size: cover;
  height: 100vh;
}

.home-content h1 {
  font-size: 40px;
}

.home-content {
  margin: 0px 15%;
  box-shadow: 0 0 16px 0 var(--lightYellow), 0 0 25px 5px var(--lightYellow);
  background-color: var(--offWhite);
  border: 4px solid var(--indigo);
  border-radius: 15px;
  padding: 35px;
  font-size: 25px;
  font-weight: 600;
}

/* ENTRIES PAGE STYLES */

.entries-body {
  background-color: var(--charcoal);
}

.entries-body h1 {
  margin-left: 15%;
  margin-top: 75px;
  color: var(--offWhite);
  -webkit-text-stroke: .1px black;
  /* x axis y axis size */
  text-shadow: var(--offWhite) 0 0 30px;
}

.entries-opening p {
  margin: 100px auto;
  width: 75%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
  border-radius: 15px;
  padding: 20px;
  border: 4px solid var(--lightBlue);
  background-color: var(--offWhite);
}

.entries-opening h1 {
  font-size: 50px;
}

.entry-links {
  text-align: center;
}

.link-a, .link-b {
  display: flex;
  height: 400px;
  width: 75%;
  border: 5px solid var(--charcoal);
  border-radius: 15px;
  margin-top: 75px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
}

.link-a {
  align-items: flex-start;
  margin-right: 10%;
}

.link-b {
  align-items: flex-end;
  margin-left: 10%;
}

.link-a a{
  margin: auto 0 auto 0;
  color: var(--charcoal);
  font-family: Luckiest Guy;
}

.link-b a {
  margin: auto 0 auto 0;
  color: var(--charcoal);
  font-family: Luckiest Guy;
}

.explore-button {
  width: 200px;
  height: 40px;
  border: 3px solid var(--charcoal);
  border-radius: 15px;
  background-color: var(--emerald);
  font-size: 25px;
  font-weight: 600;
}

.explore-button:hover {
  background-color: var(--lightGreen);
}

.section-about {
  height: 85%;
  margin: auto 0 auto 0;
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
  background-color: var(--offWhite);
}

.javascript {
  background: linear-gradient(to right top, #eefc57, #fcd757);
  border-color: var(--darkYellow);
  /* box-shadow: 0 0 30px 0 var(--lightYellow); */
}

.css {
  background: linear-gradient(to left top, #3943b7, #9dd1f1);
  border-color: var(--indigo);
}

.html {
  background: linear-gradient(to left bottom, #fc7a57, #FF4A1C);
  border-color: var(--flameOrange);
}

.algorithm {
  background: linear-gradient(to right bottom, #98ce00, #21d19f);
  border-color: var(--darkGreen);
}

.misc {
  background: linear-gradient(to right top, #FF1B1C, #d8315b);
  border-color: var(--darkRed);
}

.api {
  background: linear-gradient(to left top, #9dd1f1, #ff36ab);
  margin-bottom: 100px;
  border-color: var(--mediumPink)
}

/* JAVSCRIPT COMPONENT STYLES */

.js-body {
  background-color: var(--charcoal);
  min-height: 100vh;
}

.js-opening {
  margin: 75px 0;
  padding: 40px;
  border-radius: 15px;
  background-color: var(--offWhite);
  box-shadow: 0 0px 30px 0 var(--lightYellow);
  border: 4px solid var(--lightYellow);
}

.js-entry-holder {
  padding: 25px;
  width: 80%;
}

.js-entry {
  padding:  10px 25px;
  width: 250px;
  border-radius: 15px;
  background-color: var(--offWhite);
  background-image: url('../assets/images/javascript.png');
  background-repeat: no-repeat;
  background-size: 300px 175px;
  box-shadow: 0 0px 30px 0 var(--lightYellow);
  border: 4px solid var(--lightYellow);
}

.js-entry h3 {
  font-size: 30px;
  margin: 20px 0 0 0;
}

.js-entry p {
  font-size: 20px;
}

.js-entry:hover {
  box-shadow: 0 0 30px 0 var(--darkYellow);
}

