/* COLOR AND VARIABLES */

:root {
  --offWhite: #fceade;
  --silver: #bfc0c0;
  --charcoal: #343434;
  --darkGreen: #45b69c;
  --emerald: #21d19f;
  --seaGreen: #94d1be;
  --yellowGreen: #98ce00;
  --lightGreen: #7cdf64;
  --mustard: #fcd757;
  --lightYellow: #eefc57;
  --darkOrange: #fc7a57;
  --royalBlue: #0a2463;
  --turquoise: #16e0bd;
  --lightBlue: #0496FF;
  --indigo: #083d77;
  --electricPink: #ff36ab;
  --fireRed: #ff1b1c;
  --ruby: #D81159;
  --darkRed: hsl(360, 91%, 36%);
}

/* UNIVERSAL STYLES */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align {
  align-items: center;
}

.column {
  flex-direction: column  ;
}

.wrap {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  height: 150px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* HEADER STYLES */

header {
  height: 125px;
  width: 100%;
  background-color: var(--royalBlue);
}

header h1 {
  margin-left: 45px;
  font-size: 50px;
  color: var(--mustard);
}

nav {
  width: 40%;
}

.nav-link {
  font-size: 33px;
  font-weight: 600;
  color: var(--mustard);
}

.nav-link:hover {
  color: var(--turquoise);
}

/* HOMEPAGE STYLES */

.home-body {
  margin: 3%;
}

.home-body h1 {
  margin-left: 15%;
  margin-top: 125px;
}

.home-body p {
  margin: 125px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
}

/* ENTRIES PAGE STYLES */

.entries-body h1 {
  margin-left: 15%;
  margin-top: 75px;
}

.entries-opening p {
  margin: 75px 125px 100px 125px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
  border-radius: 15px;
  padding: 20px;
  border: 4px solid var(--charcoal);
}

.entries-opening h1 {
  font-size: 50px;
}

.entry-links {
  text-align: center;
}

.link-a, .link-b {
  display: flex;
  height: 400px;
  width: 75%;
  border: 5px solid var(--charcoal);
  border-radius: 15px;
  margin-top: 75px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
}

.link-a {
  align-items: flex-start;
  margin-right: 10%;
}

.link-b {
  align-items: flex-end;
  margin-left: 10%;
}

.link-a a{
  margin: auto 0 auto 0;
  color: var(--charcoal);
  font-family: Luckiest Guy;
}

.link-b a {
  margin: auto 0 auto 0;
  color: var(--charcoal);
  font-family: Luckiest Guy;
}

.explore-button {
  width: 200px;
  height: 40px;
  border: 3px solid var(--charcoal);
  border-radius: 15px;
  background-color: var(--emerald);
  font-size: 25px;
  font-weight: 600;
}

.explore-button:hover {
  background-color: var(--lightGreen);
}

.javascript {
  background: linear-gradient(to right top, #eefc57, #fcd757);
  border-top: 5px solid var(--charcoal);
}

.section-about {
  height: 85%;
  margin: auto 0 auto 0;
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
  background-color: var(--offWhite);
}

.css {
  background: linear-gradient(to left top, #3943b7, #9dd1f1);
}

.html {
  background: linear-gradient(to left bottom, #fc7a57, #FF4A1C);
}

.algorithm {
  background: linear-gradient(to right bottom, #98ce00, #21d19f);
}

.misc {
  background: linear-gradient(to right top, #FF1B1C, #d8315b);
}

.api {
  background: linear-gradient(to left top, #9dd1f1, #ff36ab);
}