/* OLD STYLES FROM REACT */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* UNIVERSAL STYLES */

.flex {
  display: flex;
  align-items: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.column {
  flex-direction: column  ;
}

.wrap {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  height: 150px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* HEADER STYLES */

header {
  height: 125px;
  width: 100%;
  background-color: chartreuse;
}

header h1 {
  margin-left: 45px;
  font-size: 40px;
}

nav {
  width: 40%;
}

.nav-link {
  font-size: 33px;
  font-weight: 600;
  color: blue;
}

.nav-link:hover {
  color: aqua;
}

/* HOMEPAGE STYLES */

.home-body {
  margin: 3%;
}

.home-body h1 {
  margin-left: 15%;
  margin-top: 125px;
}

.home-body p {
  margin: 125px;
}

/* ENTRIES PAGE STYLES */

.entries-body h1 {
  margin-left: 15%;
  margin-top: 75px;
  border: 3px solid red;
}

.entries-body p {
  margin: 75px 125px 100px 125px;
  border: 3px solid red;
}

.entry-links {
  text-align: center;
}

.entry-links div { 
  height: 350px;
  width: 100%;
  border: 3px solid red;
}

.link-a, .link-b {
  display: flex;
  flex-direction: column;
}

.link-a {
  align-items: flex-start;
}

.link-b {
  align-items: flex-end;
}

/* .link-a img, .link-b img {
  width: 320px;
  height: 320px;
  border-radius: 100%;
}

.link-a img {
  margin-left: 50%;
} */

.link-a a{
  margin: auto 0% auto 10%;
}

.link-b a {
  margin: auto 10% auto 0%;
}

.explore-button {
  width: 150px;
  height: 35px;
  border: 3px solid red;
  border-radius: 50px;
}